body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: linear-gradient(45deg, #ff0000, #ff9900);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #000;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.productos {
    padding: 50px;
    background: white;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: #ff9900;
    width: 280px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: white;
}

.empresa {
    background: #222;
    color: white;
    padding: 50px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacto {
    padding: 50px;
    background: #ff0000;
    color: white;
    text-align: center;
}

footer {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}
